.admin-posts-edit-page,
.admin-posts-index-page {
  td {
    i.fa {
      margin-right: 3.2px;
    }
    span {
      margin-right: 8px;
    }
  }

  .select2 {
    width: 100% !important;
  }

  #content-input {
    min-height: 480px;
  }

  #preview {
    padding: 8px;
    border: 1px solid #eee;
    border-top: none;
  }

  #upload_photo {
    float: right;
    margin-top: -32px;
  }
}
