@mixin rx-flex {
  display: flex;
}
.rx-flex {
  @include rx-flex;
}

@mixin rx-flex-column {
  display: flex;
  flex-direction: column;
}

.rx-flex-column {
  @include rx-flex-column;
}

@mixin rx-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rx-flex-center {
  @include rx-flex-center;
}

@mixin rx-flex-align-center {
  display: flex;
  align-items: center;
}
.rx-flex-align-center {
  @include rx-flex-align-center;
}

@mixin rx-flex-justify-center {
  display: flex;
  justify-content: center;
}
.rx-flex-justify-center {
  @include rx-flex-justify-center;
}

$rx-fontsize: (
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
);

@each $key, $fontsize in $rx-fontsize {
  .rx-font-#{$key} {
    font-size: $fontsize !important;
  }
}

$rx-spaces: (
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  32: 32px,
  40: 40px,
);

// 一般左右间距为4 8 12 20 40
// 一般上下间距为8 12 20 32 40
// 一般内边距为8 12 16 20
@each $key, $space in $rx-spaces {
  .rx-mt-#{$key} {
    margin-top: $space !important;
  }
  .rx-mr-#{$key} {
    margin-right: $space !important;
  }
  .rx-mb-#{$key} {
    margin-bottom: $space !important;
  }
  .rx-ml-#{$key} {
    margin-left: $space !important;
  }

  .rx-pt-#{$key} {
    padding-top: $space !important;
  }
  .rx-pr-#{$key} {
    padding-right: $space !important;
  }
  .rx-pb-#{$key} {
    padding-bottom: $space !important;
  }
  .rx-pl-#{$key} {
    padding-left: $space !important;
  }
}

.rx-blod {
  font-weight: 600;
}

.default-color {
  color: #333333;
}