@import url(//at.alicdn.com/t/font_3315486_naellidmse.css);

.rx-icon {
  line-height: 1;
  font-family: "rx-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
