@import url(//at.alicdn.com/t/font_3335804_ukaar15ben.css);

.blog-icon {
  line-height: 1;
  font-family: "blog-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
