[class*="blog-grid"] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.grid-card {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
}

.grid-card-default {
  padding: 25px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 2%);
}

.sidebar {
  img {
    width: 100px;
    height: 100px;
  }

  .header-circle {
    border-radius: 50%;
  }

  .header-icons {
    img {
      width: 18px;
      height: 18px;
    }
  }

  ul.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    > li {
      :not(:last-child) {
        border-bottom: 1px solid #f3f3f3;
      }

      &.active {
        background: #f8f9fa;
      }
    }

    .sidebar-menu-item {
      position: relative;
      width: 100%;
      padding: 12px 0px;
      color: #333;
      font-size: 14px;
      text-decoration: none;
      @include blog-flex-justify-center;

      &:hover {
        background: #f0f1f2;
      }
    }
  }
}
