@import "bootstrap_custom";
@import "codemirror/lib/codemirror";
@import "daterangepicker/daterangepicker";
@import "adminlte.css";
@import "admin/posts";
@import "common-styles/variables";
@import "common-styles/common";
@import "common-styles/codemirror-custom";
@import "common-styles/markdown-article-custom";

.main-sidebar {
  li.nav-item {
    width: 100%;
    a {
      text-overflow: ellipsis;
    }
  }
}

.login-box {
  margin: 7% auto;
}
