.home-index-page,
.posts-show-page,
.abouts-show-page {
  background-color: #f9f9f9;

  .rx-icon {
    font-family: "rx-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .rx-grid {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mblog-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &-small {
      .rx-grid-post-column {
        width: calc(100% * 5 / 6.001);

        .grid-content {
          .grid-main {
            width: 75%;

            &-content {
              background-color: #ffffff;
              max-width: 690px;

              .no-data {
                padding: 200px 0;
                color: $font-color-hint;
              }

              .post-wrapper {
                &:not(:last-child) {
                  border-bottom: 1px solid #e5e5e5;
                }

                &:not(:first-child) {
                  margin-top: 40px;
                }

                .post-title {
                  color: #333;
                  display: block;
                  font-size: 34px;
                  font-weight: 700;
                  margin: 0.2em 0 0.3em;
                  text-decoration: none;
                }

                .post-meta {
                  &-created-time {
                    color: #abb7b7;
                    font-size: 14px;
                  }

                  &-tag-list {
                    .post-tag {
                      border: 1px solid;
                      border-radius: 2px;
                      color: $minor-blue;
                      display: inline-block;
                      font-size: 12px;
                      margin: 2px 0;
                      padding: 2px 10px;
                    }
                  }
                }

                .post-excerpts {
                  color: $font-color-content;
                }

                .post-read-more {
                  padding: 8px 12px;
                  background-color: $minor-blue;
                  border-radius: 4px;
                  color: #ffffff;
                  font-size: 14px;
                  display: inline-block;

                  &:hover {
                    background-color: $minor-blue-darken;
                    text-decoration: none;
                  }
                }
              }
            }
          }

          .grid-sidebar {
            width: 25%;

            &-content {
              position: sticky;
              top: 0;
              padding: 20px;

              .label-wrapper {
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
}
